<div *ngIf="userStory">
    <div *ngIf="userStory">
        User Story - <span class="info">{{ userStory.title }}</span>
    </div>
    <div *ngIf="userStory.description">
        Description - <span class="info"> {{ userStory.description }}</span>
    </div>

    <div>
        Story Point: <input type="textbox" [(ngModel)]="storyPoints" />
        <button class="btn btn-primary" (click)="accept()">Accept</button>
        <button class="btn btn-info" (click)="revealed()">Reveal</button>
        <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
    </div>

    <div *ngIf="users">

        <div *ngFor="let user of users">

            <div class="card w-24">
                <div class="card-body userStoryPointsCard">
                    <div *ngIf="!reveal">
                        <span *ngIf="user.storyPoint && user.storyPoint !== '?'">
                            <i class="fad fa-check fa-8x font-awesome-color"></i>
                        </span>

                        <span *ngIf="!user.storyPoint || user.storyPoint === '?'">

                            <i class="fad fa-spinner fa-spin fa-8x font-awesome-color"></i>
                        </span>
                    </div>
                    <div *ngIf="reveal" style="font-size:100px;" class=" font-awesome-color">
                        {{ user.storyPoint}}
                    </div>
                </div>
                <div class="card-footer">
                    {{ user.userName }}
                </div>
            </div>

        </div>

    </div>
</div>